<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9b8261ce-d05d-4f09-a57d-3a7b8c4e25ab" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="d672a100-0a39-4429-9b51-8a0dfd16d5df">contentBase</Composition>
      <Composition Key="e43ee05d-8ca0-4fa7-b34c-22421f4b1415">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e4db1dce-d797-4bd0-b126-473154f31374">contentPage</Template>
      <Template Key="2a0d5289-f6ee-47d8-9033-012da9d3b5f1">Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9b8261ce-d05d-4f09-a57d-3a7b8c4e25ab" SortOrder="5">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>