<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad53e17b-101e-4bb6-9cf6-0fb574b85865" Alias="navigation" Level="1">
  <Info>
    <Name>Navigation</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e7485c67-326c-42db-b38d-79d08181c508</Key>
      <Name>Hide in navigation</Name>
      <Alias>umbNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigation</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>