<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="acd5b01b-8937-4181-8e73-97b9966344f0" Alias="page" Level="1">
  <Info>
    <Name>Page</Name>
    <Icon>icon-layout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="a319da3a-8cdd-464f-8265-472072b189f3">listableContent</Composition>
      <Composition Key="ad53e17b-101e-4bb6-9cf6-0fb574b85865">navigation</Composition>
    </Compositions>
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2a0d5289-f6ee-47d8-9033-012da9d3b5f1">Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="acd5b01b-8937-4181-8e73-97b9966344f0" SortOrder="1">page</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9ca58ff7-be70-4500-97b9-7e8c443a2cd4</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>f541383f-21fe-4ff6-9005-a7b5ea65071e</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Layout</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>