<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="42534f25-d096-4bd6-91f1-443bea87d1c0" Alias="site" Level="1">
  <Info>
    <Name>Site</Name>
    <Icon>icon-globe-inverted-europe-africa color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="acd5b01b-8937-4181-8e73-97b9966344f0" SortOrder="1">page</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>0fcb7167-6aa8-4d8d-bc69-fc251ff7d0bf</Key>
      <Name>Homepage</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>