<?xml version="1.0" encoding="utf-8"?>
<DataType Key="931ba4db-37df-4069-9657-5544bf1f6410" Alias="[ContentList] DataSource" Level="1">
  <Info>
    <Name>[ContentList] DataSource</Name>
    <EditorAlias>our.umbraco.contentlist.datasource</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>