<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f5613f0-760d-4af3-8053-fcadeeb2c93c" Alias="Query Page - [ContentList] Query" Level="1">
  <Info>
    <Name>Query Page - [ContentList] Query</Name>
    <EditorAlias>our.umbraco.contentlist.query</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>