<?xml version="1.0" encoding="utf-8"?>
<DataType Key="abd4944c-52b0-4d0d-bced-bcd3d5a85014" Alias="QueryPage - [ContentList] Query" Level="1">
  <Info>
    <Name>QueryPage - [ContentList] Query</Name>
    <EditorAlias>our.umbraco.contentlist.query</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>