<div class="umb-property-editor" ng-controller="our.umbraco.contentlist.columnssettingcontroller">
    <div ng-show="supportColumns">
        <ng-form name="integerFieldForm">
            <input name="integerField"
                   type="number"
                   pattern="[\-0-9]*"
                   class="umb-property-editor umb-number"
                   ng-model="model.value.medium"
                   ng-required="true"
                   aria-required="true"
                   val-server="value" />

            <span ng-messages="integerFieldForm.integerField.$error" show-validation-on-submit>
                <span class="help-inline" ng-message="number"><localize key="validation_invalidNumber">Not a number</localize></span>
                <span class="help-inline" ng-message="valServer">{{integerFieldForm.integerField.errorMsg}}</span>
            </span>
        </ng-form>
        <div class="controls">
            <label for="advancedColumns">
                <input type="checkbox" id="advancedColumns" name="advancedColumns" ng-model="model.advancedColumns" />
                Show advanced column settings
            </label>
        </div>
        <div ng-show="model.advancedColumns">
            <div class="toolbar-item">
                <label for="smallColumns">Mobile</label>
                <input type="number" id="smallColumns" name="smallColumns" ng-model="model.value.small" class="umb-property-editor-tiny" />
                <label for="mediumColumns">Tablet</label>
                <input type="number" id="mediumColumns" name="mediumColumns" ng-model="model.value.medium" class="umb-property-editor-tiny" />
                <label for="largeColumns">Desktop</label>
                <input type="number" id="largeColumns" name="largeColumns" ng-model="model.value.large" class="umb-property-editor-tiny" />
            </div>
        </div>
    </div>
    <div ng-show="!supportColumns">
        The selected theme does not support columns settings.
    </div>
</div>
