<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b7a8b34-1057-49f0-b464-9ab6fc8b38f4" Alias="A block grid page" Level="2">
  <Info>
    <Parent Key="64d01018-3dce-4efb-809f-a9705e166bbd">example.com</Parent>
    <Path>/examplecom/ABlockGridPage</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGridPage</ContentType>
    <CreateDate>2022-10-14T12:58:53</CreateDate>
    <NodeName Default="A block grid page" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4238e673-9764-48a8-b2f2-0f82a6d2f7b5">BlockGridPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/757bd0101a3f47b58c0140be57ef4596",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "384aebb0-c6ee-437d-8e77-c33b18e817ea",
      "udi": "umb://element/757bd0101a3f47b58c0140be57ef4596",
      "dataSource": "{\"type\":\"Our.Umbraco.ContentList.DataSources.ChildrenOfMultipleDataSource, Our.Umbraco.ContentList\",\"parameters\":[{\"key\":\"nodes\",\"value\":\"1060,1061\"},{\"key\":\"sort\",\"value\":\"dateasc\"}]}"
    }
  ],
  "settingsData": []
}]]></Value>
    </layout>
  </Properties>
</Content>