<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2ebd6ca-2194-4181-84a2-f099ad3b8d87" Alias="A query page" Level="2">
  <Info>
    <Parent Key="64d01018-3dce-4efb-809f-a9705e166bbd">example.com</Parent>
    <Path>/examplecom/AQueryPage</Path>
    <Trashed>false</Trashed>
    <ContentType>queryPage</ContentType>
    <CreateDate>2022-10-21T12:47:56</CreateDate>
    <NodeName Default="A query page" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d90ae4f-295d-4177-ab8c-63106b9abb66">QueryPage</Template>
  </Info>
  <Properties>
    <query>
      <Value><![CDATA[{
  "datasource": {
    "type": "Our.Umbraco.ContentList.DataSources.ChildrenOfMultipleDataSource, Our.Umbraco.ContentList",
    "parameters": [
      {
        "key": "nodes",
        "value": "1059"
      },
      {
        "key": "sort",
        "value": "sortorder"
      }
    ]
  },
  "view": "SimpleTheme",
  "pagesize": 10,
  "showPaging": false,
  "columns": {
    "small": 1,
    "medium": 2,
    "large": 2
  }
}]]></Value>
    </query>
  </Properties>
</Content>