<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5e6b7d9-90d2-4a3a-ad55-389f006646b0" Alias="About us" Level="2">
  <Info>
    <Parent Key="64d01018-3dce-4efb-809f-a9705e166bbd">example.com</Parent>
    <Path>/examplecom/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2021-10-13T16:38:56</CreateDate>
    <NodeName Default="About us" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f04da5a8-b5c6-4ae3-94bb-63b34dc60057">Page</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Headline",
          "id": "25752d7d-c374-49a0-91ee-a60d78b5cb33",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "Here's some stuff about us",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </layout>
    <listHeading>
      <Value><![CDATA[About us]]></Value>
    </listHeading>
    <listImage>
      <Value><![CDATA[]]></Value>
    </listImage>
    <listSummary>
      <Value><![CDATA[<p>Here's all about us</p>]]></Value>
    </listSummary>
    <readMoreText>
      <Value><![CDATA[]]></Value>
    </readMoreText>
  </Properties>
</Content>