<?xml version="1.0" encoding="utf-8"?>
<Content Key="64d01018-3dce-4efb-809f-a9705e166bbd" Alias="example.com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/examplecom</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2021-10-13T16:38:30</CreateDate>
    <NodeName Default="example.com" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f04da5a8-b5c6-4ae3-94bb-63b34dc60057">Page</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Headline",
          "id": "65d83136-5e71-4836-9000-878d1186290f",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "Welcome to our site",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": null,
                  "editor": {
                    "alias": "content.list",
                    "view": "/App_Plugins/Our.Umbraco.ContentList/grideditors/contentlist/contentlist.html"
                  },
                  "styles": {},
                  "config": {
                    "datasource": {
                      "type": "Our.Umbraco.ContentList.DataSources.ListableChildrenDataSource, Our.Umbraco.ContentList",
                      "parameters": [
                        {
                          "key": "sort",
                          "value": "sortorder"
                        }
                      ]
                    },
                    "view": "SimpleTheme",
                    "pagesize": 1,
                    "columns": {
                      "small": 1,
                      "medium": 2,
                      "large": 2
                    },
                    "showPaging": true
                  }
                },
                {
                  "value": null,
                  "editor": {
                    "alias": "content.list",
                    "view": "/App_Plugins/Our.Umbraco.ContentList/grideditors/contentlist/contentlist.html"
                  },
                  "styles": {},
                  "config": {
                    "datasource": {
                      "type": "Our.Umbraco.ContentList.DataSources.ListableChildrenDataSource, Our.Umbraco.ContentList",
                      "parameters": [
                        {
                          "key": "sort",
                          "value": "sortorder"
                        }
                      ]
                    },
                    "view": "Sample",
                    "pagesize": 10,
                    "showPaging": false,
                    "columns": {
                      "small": 1,
                      "medium": 2,
                      "large": 2
                    },
                    "scopeId": 433
                  }
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article",
          "id": "74db6e99-d070-4df3-ab33-f78a0ac419b9",
          "areas": [
            {
              "grid": "4",
              "controls": [],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </layout>
    <listHeading>
      <Value><![CDATA[]]></Value>
    </listHeading>
    <listImage>
      <Value><![CDATA[]]></Value>
    </listImage>
    <listSummary>
      <Value><![CDATA[]]></Value>
    </listSummary>
    <readMoreText>
      <Value><![CDATA[]]></Value>
    </readMoreText>
  </Properties>
</Content>