<div ng-controller="our.umbraco.contentlist.blge.datasource.controller" class="contentlist-datasource-property">

    <div class="inner-property" ng-if="datasourceProperty">
        <umb-property property="datasourceProperty">
            <div style="position: relative;">
                <umb-editor model="datasourceProperty" is-pre-value="true"></umb-editor>
            </div>
        </umb-property>
    </div>

    <div ng-if="parametersProperty && parametersProperty.config.items.length" class="parameters-property">
        <umb-property property="parametersProperty">
            <div style="position: relative;">
                <umb-editor model="parametersProperty" is-pre-value="true"></umb-editor>
            </div>
        </umb-property>
    </div>
    
</div>