<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d4bb8f96-1c11-491f-9d6f-e6f9ee22b224" Alias="blockGridPage" Level="1">
  <Info>
    <Name>BlockGridPage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>BlockGridPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4238e673-9764-48a8-b2f2-0f82a6d2f7b5">BlockGridPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d4bb8f96-1c11-491f-9d6f-e6f9ee22b224" SortOrder="0">blockGridPage</ContentType>
    <ContentType Key="88b7e69c-bcf4-4490-a2cf-cef8e11d5d1e" SortOrder="1">page</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a1869073-4b85-4439-bb53-f2c25612acf1</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>d863703a-2df6-4676-b7ab-dc39c5704448</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6f62c467-7960-4f12-9262-3c336cf47643</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>