<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="384aebb0-c6ee-437d-8e77-c33b18e817ea" Alias="contentListBlock" Level="1">
  <Info>
    <Name>Content List Block</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>88729462-e7e4-4c0c-be46-702fa40ff59c</Key>
      <Name>Query</Name>
      <Alias>query</Alias>
      <Definition>abd4944c-52b0-4d0d-bced-bcd3d5a85014</Definition>
      <Type>our.umbraco.contentlist.query</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="parameters">Parameters</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e58e8826-00ef-4ff1-9641-5f50d1c470d1</Key>
      <Caption>Parameters</Caption>
      <Alias>parameters</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>