<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="88b7e69c-bcf4-4490-a2cf-cef8e11d5d1e" Alias="page" Level="1">
  <Info>
    <Name>Page</Name>
    <Icon>icon-layout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="d54acf75-a93b-42f3-bfbc-09cff60f40f3">listableContent</Composition>
    </Compositions>
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f04da5a8-b5c6-4ae3-94bb-63b34dc60057">Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="88b7e69c-bcf4-4490-a2cf-cef8e11d5d1e" SortOrder="0">page</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>5817b960-863b-4a6b-b7db-aabc07fb2913</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>e4cd296a-4adb-40ed-9bca-9df6a6cb58c2</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Layout</Caption>
      <Alias>content/layout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>