<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e0c73ae3-ff3f-4dd1-95db-8618bd4e9fe7" Alias="queryPage" Level="1">
  <Info>
    <Name>QueryPage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>QueryPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5d90ae4f-295d-4177-ab8c-63106b9abb66">QueryPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2f939299-670e-4623-9da3-f5589423b9d1</Key>
      <Name>Query</Name>
      <Alias>query</Alias>
      <Definition>abd4944c-52b0-4d0d-bced-bcd3d5a85014</Definition>
      <Type>our.umbraco.contentlist.query</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="query">Query</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d4c8d89a-5f49-452f-af4d-d2908eff6e85</Key>
      <Caption>Query</Caption>
      <Alias>query</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>