<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a230080-55e1-4b14-992a-51c220577514" Alias="A page with errors" Level="2">
  <Info>
    <Parent Key="32f4f048-016a-4174-8d2f-0103fbecd4bf">My site</Parent>
    <Path>/MySite/APageWithErrors</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2020-08-21T12:13:02</CreateDate>
    <NodeName Default="A page with errors" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a0d5289-f6ee-47d8-9033-012da9d3b5f1">Page</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Headline",
          "id": "7f861230-7870-25b6-7e9d-5e1677e03ede",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "Nothing configured",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": null,
                  "editor": {
                    "alias": "content.list",
                    "view": "/App_Plugins/Our.Umbraco.ContentList/grideditors/contentlist/contentlist.html"
                  },
                  "styles": null,
                  "config": {
                    "datasource": {
                      "type": "",
                      "parameters": []
                    },
                    "view": "",
                    "pagesize": 10,
                    "showPaging": false,
                    "columns": {
                      "small": 1,
                      "medium": 2,
                      "large": 2
                    },
                    "scopeId": 790
                  }
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Headline",
          "id": "264d4984-6991-45e2-4c1a-51a63cd1af5e",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "Data source but no template",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": null,
                  "editor": {
                    "alias": "content.list",
                    "view": "/App_Plugins/Our.Umbraco.ContentList/grideditors/contentlist/contentlist.html"
                  },
                  "styles": {},
                  "config": {
                    "datasource": {
                      "type": "Our.Umbraco.ContentList.DataSources.Listables.ListableChildrenDataSource, Our.Umbraco.ContentList",
                      "parameters": [
                        {
                          "key": "sort",
                          "value": "sortorder"
                        }
                      ]
                    },
                    "pagesize": 10,
                    "columns": {
                      "small": 1,
                      "medium": 2,
                      "large": 2
                    }
                  }
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Headline",
          "id": "48c10c5e-a238-db48-a99c-1461f55390c6",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "Data source with invalid parameters",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": null,
                  "editor": {
                    "alias": "content.list",
                    "view": "/App_Plugins/Our.Umbraco.ContentList/grideditors/contentlist/contentlist.html"
                  },
                  "styles": {},
                  "config": {
                    "datasource": {
                      "type": "Our.Umbraco.ContentList.DataSources.Listables.ListableChildrenDataSource, Our.Umbraco.ContentList",
                      "parameters": [
                        {
                          "key": "sort"
                        }
                      ]
                    },
                    "pagesize": 10,
                    "columns": {
                      "small": 1,
                      "medium": 2,
                      "large": 2
                    }
                  }
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </layout>
    <listHeading>
      <Value><![CDATA[]]></Value>
    </listHeading>
    <listImage>
      <Value><![CDATA[]]></Value>
    </listImage>
    <listSummary>
      <Value><![CDATA[]]></Value>
    </listSummary>
    <readMoreText>
      <Value><![CDATA[]]></Value>
    </readMoreText>
    <umbNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbNaviHide>
  </Properties>
</Content>