<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d205e30-af7c-473c-979f-1a046d2eadde" Alias="A page" Level="2">
  <Info>
    <Parent Key="32f4f048-016a-4174-8d2f-0103fbecd4bf">My site</Parent>
    <Path>/MySite/APage</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2020-03-25T13:23:43</CreateDate>
    <NodeName Default="A page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a0d5289-f6ee-47d8-9033-012da9d3b5f1">Page</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Headline",
          "id": "472c3ea4-8b82-c04f-701e-6fde2b5cbc16",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": null,
                  "editor": {
                    "alias": "content.list",
                    "view": "/App_Plugins/Our.Umbraco.ContentList/grideditors/contentlist/contentlist.html"
                  },
                  "styles": {},
                  "config": {
                    "datasource": "Our.Umbraco.ContentList.DataSources.Listables.ListablesByXPathDataSource, Our.Umbraco.ContentList",
                    "parameters": [
                      {
                        "key": "sort",
                        "value": "sortorder"
                      },
                      {
                        "key": "xpath",
                        "value": "//page"
                      }
                    ],
                    "view": "NiceTheme",
                    "pagesize": 10,
                    "columns": {
                      "small": 1,
                      "medium": 2,
                      "large": 2
                    }
                  }
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </layout>
    <listHeading>
      <Value><![CDATA[Parent 1]]></Value>
    </listHeading>
    <listImage>
      <Value><![CDATA[]]></Value>
    </listImage>
    <listSummary>
      <Value><![CDATA[<p>The major parent</p>]]></Value>
    </listSummary>
    <readMoreLinkText>
      <Value><![CDATA[]]></Value>
    </readMoreLinkText>
    <umbNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbNaviHide>
  </Properties>
</Content>