<?xml version="1.0" encoding="utf-8"?>
<Content Key="3cce2545-e3ac-44ec-bf55-a52cc5965db3" Alias="About Us" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2021-07-12T13:36:56</CreateDate>
    <NodeName Default="About Us">
      <Name Culture="en-us">About Us</Name>
      <Name Culture="nb">Om oss</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nb">true</Published>
    </Published>
    <Schedule />
    <Template Key="2a0d5289-f6ee-47d8-9033-012da9d3b5f1">Page</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "FullWidth",
          "id": "f10995f1-918d-3e50-e50d-8c41bbe297ce",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "Oooh la la",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article",
          "id": "4d6e2221-e2d9-95bc-8ceb-624bc8df8e3f",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "udi": "umb://media/c0969cab13ab4de9819a848619ac2b5d",
                    "image": "/media/dvken4a0/18095416144_44a566a5f4_h.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [
                {
                  "value": "<p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>\n<p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<iframe width=\"360\" height=\"203\" src=\"https://www.youtube.com/embed/HPgKSCp_Y_U?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>",
                  "editor": {
                    "alias": "embed",
                    "view": "embed"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "FullWidth",
          "id": "67e88315-194a-0972-a1d8-7b66871e2987",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": null,
                  "editor": {
                    "alias": "content.list",
                    "view": "/App_Plugins/Our.Umbraco.ContentList/grideditors/contentlist/contentlist.html"
                  },
                  "styles": {},
                  "config": {
                    "datasource": {
                      "type": "Our.Umbraco.ContentList.DataSources.Listables.ListableChildrenDataSource, Our.Umbraco.ContentList",
                      "parameters": [
                        {
                          "key": "sort",
                          "value": "sortorder"
                        },
                        {
                          "key": "language",
                          "value": "en-US"
                        }
                      ]
                    },
                    "view": "NiceTheme",
                    "pagesize": 10,
                    "showPaging": false,
                    "columns": {
                      "small": 1,
                      "medium": 2,
                      "large": 2
                    },
                    "scopeId": 2085
                  }
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "FullWidth",
          "id": "65d74ddd-d4ee-d5d8-ae45-e8f2abab5019",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": null,
                  "editor": {
                    "alias": "content.list",
                    "view": "/App_Plugins/Our.Umbraco.ContentList/grideditors/contentlist/contentlist.html"
                  },
                  "styles": {},
                  "config": {
                    "datasource": {
                      "type": "Our.Umbraco.ContentList.DataSources.Listables.ListableByNodeDataSource, Our.Umbraco.ContentList",
                      "parameters": [
                        {
                          "key": "parentNode",
                          "value": "umb://document/3cce2545e3ac44ecbf55a52cc5965db3"
                        },
                        {
                          "key": "sort",
                          "value": "sortorder"
                        },
                        {
                          "key": "language",
                          "value": "en-US"
                        }
                      ]
                    },
                    "view": "FlexTheme",
                    "pagesize": 10,
                    "columns": {
                      "small": 1,
                      "medium": 2,
                      "large": 2
                    }
                  }
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value Culture="en-us"><![CDATA[About Us]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>