<?xml version="1.0" encoding="utf-8"?>
<Content Key="82ef0115-7434-4106-ac92-3fe47126cff2" Alias="CG 05" Level="3">
  <Info>
    <Parent Key="bde60069-1ddd-47aa-99fc-326340085aac">CG 2019</Parent>
    <Path>/MySite/CG2019/CG05</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2020-03-25T19:20:00</CreateDate>
    <NodeName Default="CG 05" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a0d5289-f6ee-47d8-9033-012da9d3b5f1">Page</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </layout>
    <listHeading>
      <Value><![CDATA[CG 05]]></Value>
    </listHeading>
    <listImage>
      <Value><![CDATA[umb://media/551275b30094431eabfa4d5f55490f47]]></Value>
    </listImage>
    <listSummary>
      <Value><![CDATA[<p>Does it ever stop?</p>]]></Value>
    </listSummary>
    <readMoreLinkText>
      <Value><![CDATA[]]></Value>
    </readMoreLinkText>
    <umbNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbNaviHide>
  </Properties>
</Content>