<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c44459c-477d-4423-801d-9e85ad1c1e89" Alias="CG 02" Level="3">
  <Info>
    <Parent Key="bde60069-1ddd-47aa-99fc-326340085aac">CG 2019</Parent>
    <Path>/MySite/CG2019/CG02</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2020-03-25T19:18:45</CreateDate>
    <NodeName Default="CG 02" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a0d5289-f6ee-47d8-9033-012da9d3b5f1">Page</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </layout>
    <listHeading>
      <Value><![CDATA[CG 02]]></Value>
    </listHeading>
    <listImage>
      <Value><![CDATA[umb://media/251d5220883e4293befc2252142b1826]]></Value>
    </listImage>
    <listSummary>
      <Value><![CDATA[<p>Some more</p>]]></Value>
    </listSummary>
    <readMoreLinkText>
      <Value><![CDATA[]]></Value>
    </readMoreLinkText>
    <umbNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbNaviHide>
  </Properties>
</Content>