<?xml version="1.0" encoding="utf-8"?>
<Content Key="bde60069-1ddd-47aa-99fc-326340085aac" Alias="CG 2019" Level="2">
  <Info>
    <Parent Key="32f4f048-016a-4174-8d2f-0103fbecd4bf">My site</Parent>
    <Path>/MySite/CG2019</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2020-03-25T19:17:49</CreateDate>
    <NodeName Default="CG 2019" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a0d5289-f6ee-47d8-9033-012da9d3b5f1">Page</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </layout>
    <listHeading>
      <Value><![CDATA[]]></Value>
    </listHeading>
    <listImage>
      <Value><![CDATA[]]></Value>
    </listImage>
    <listSummary>
      <Value><![CDATA[]]></Value>
    </listSummary>
    <readMoreLinkText>
      <Value><![CDATA[]]></Value>
    </readMoreLinkText>
    <umbNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbNaviHide>
  </Properties>
</Content>