<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8a715f3-b403-411a-9ad4-c55774d3ffaa" Alias="Child 1.2" Level="3">
  <Info>
    <Parent Key="7d205e30-af7c-473c-979f-1a046d2eadde">A page</Parent>
    <Path>/MySite/APage/Child12</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2020-03-25T13:24:47</CreateDate>
    <NodeName Default="Child 1.2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a0d5289-f6ee-47d8-9033-012da9d3b5f1">Page</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </layout>
    <listHeading>
      <Value><![CDATA[Child 1.2]]></Value>
    </listHeading>
    <listImage>
      <Value><![CDATA[]]></Value>
    </listImage>
    <listSummary>
      <Value><![CDATA[<p>This is the second child</p>]]></Value>
    </listSummary>
    <readMoreLinkText>
      <Value><![CDATA[]]></Value>
    </readMoreLinkText>
    <umbNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbNaviHide>
  </Properties>
</Content>