<?xml version="1.0" encoding="utf-8"?>
<Content Key="81a07356-862a-4b18-851f-a0a928c9250a" Alias="Child 1.3" Level="3">
  <Info>
    <Parent Key="7d205e30-af7c-473c-979f-1a046d2eadde">A page</Parent>
    <Path>/MySite/APage/Child13</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2020-03-25T23:55:17</CreateDate>
    <NodeName Default="Child 1.3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a0d5289-f6ee-47d8-9033-012da9d3b5f1">Page</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </layout>
    <listHeading>
      <Value><![CDATA[Child 1.3]]></Value>
    </listHeading>
    <listImage>
      <Value><![CDATA[]]></Value>
    </listImage>
    <listSummary>
      <Value><![CDATA[<p>This is the third child, no less.</p>]]></Value>
    </listSummary>
    <readMoreLinkText>
      <Value><![CDATA[]]></Value>
    </readMoreLinkText>
    <umbNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbNaviHide>
  </Properties>
</Content>