<?xml version="1.0" encoding="utf-8"?>
<Content Key="32f4f048-016a-4174-8d2f-0103fbecd4bf" Alias="My site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MySite</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2020-03-25T13:23:30</CreateDate>
    <NodeName Default="My site" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>