<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb807ab2-b62d-4669-84fa-02fd8441da54" Alias="Search" Level="2">
  <Info>
    <Parent Key="32f4f048-016a-4174-8d2f-0103fbecd4bf">My site</Parent>
    <Path>/MySite/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2020-04-29T18:09:53</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a0d5289-f6ee-47d8-9033-012da9d3b5f1">Page</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Headline",
          "id": "495e84ae-fba6-8fe3-10f5-03887705664d",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "Search",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": null,
                  "editor": {
                    "alias": "content.list",
                    "view": "/App_Plugins/Our.Umbraco.ContentList/grideditors/contentlist/contentlist.html"
                  },
                  "styles": {},
                  "config": {
                    "datasource": {
                      "type": "Our.Umbraco.ContentList.DataSources.Listables.ListablesByLuceneDataSource, Our.Umbraco.ContentList",
                      "parameters": [
                        {
                          "key": "query",
                          "value": "__NodeTypeAlias:page path:1066"
                        },
                        {
                          "key": "queryParameter",
                          "value": "search"
                        },
                        {
                          "key": "showIfNoPhrase",
                          "value": "0"
                        }
                      ]
                    },
                    "view": "SearchResult",
                    "pagesize": 10,
                    "showPaging": true,
                    "columns": {
                      "small": 1,
                      "medium": 1,
                      "large": 1
                    },
                    "scopeId": 423
                  }
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </layout>
    <listHeading>
      <Value><![CDATA[]]></Value>
    </listHeading>
    <listImage>
      <Value><![CDATA[]]></Value>
    </listImage>
    <listSummary>
      <Value><![CDATA[]]></Value>
    </listSummary>
    <readMoreText>
      <Value><![CDATA[]]></Value>
    </readMoreText>
    <umbNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbNaviHide>
  </Properties>
</Content>