.umb-editors .contentlist-datasource-property .parameters-property {
  position: relative !important;
}
.umb-editors .contentlist-datasource-property .parameters-property .umb-editor {
  background-color: transparent;
  position: relative !important;
  box-shadow: 0 0 0 0 !important;
}
.umb-editors .contentlist-datasource-property .inner-property {
  position: relative !important;
  padding-bottom: 20px;
}
.umb-editors .contentlist-datasource-property .inner-property .umb-editor {
  background-color: transparent;
  position: relative !important;
  box-shadow: 0 0 0 0 !important;
}
.our-content-list .new-contentlist {
  min-height: 100px;
  text-align: center;
  padding-top: 30px;
  cursor: pointer;
}
.our-content-list .new-contentlist a:focus,
.our-content-list .new-contentlist a:hover {
  text-decoration: none;
}
.our-content-list .preview .row {
  display: block;
  overflow: hidden;
}
.our-content-list .preview .gutter {
  display: block;
  overflow: hidden;
  padding: 15px;
}
.our-content-list .preview .col-md-1 {
  display: inline-block;
  float: left;
  width: 8.33%;
}
.our-content-list .preview .col-md-2 {
  display: inline-block;
  float: left;
  width: 16.66%;
}
.our-content-list .preview .col-md-3 {
  display: inline-block;
  float: left;
  width: 25%;
}
.our-content-list .preview .col-md-4 {
  display: inline-block;
  float: left;
  width: 33%;
}
.our-content-list .preview .col-md-6 {
  display: inline-block;
  float: left;
  width: 50%;
}
.our-content-list .preview .col-md-12 {
  display: inline-block;
  float: left;
  width: 100%;
}
.our-content-list .preview .pagination li {
  display: inline-block;
  float: left;
  border: 1px solid gray;
  padding: 5px;
}