<?xml version="1.0" encoding="utf-8"?>
<Media Key="251d5220-883e-4293-befc-2252142b1826" Alias="47992073103 77Ac4d2354 C" Level="2">
  <Info>
    <Parent Key="3b6f63e5-75c9-4cdc-ba3f-25fea4cb71f8">CG 2019</Parent>
    <Path>/CG2019/Ac4d2354C</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-03-25T19:17:29</CreateDate>
    <NodeName Default="47992073103 77Ac4d2354 C" />
    <SortOrder>1</SortOrder>
    <FileHash>64174216841832621279183141897122414113145</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ezjb0jj4/47992073103_77ac4d2354_c.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>