<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca2b75f7-3a82-4944-b36f-e7e859e98d0c" Alias="47992069768 A09e2d8e68 C" Level="2">
  <Info>
    <Parent Key="3b6f63e5-75c9-4cdc-ba3f-25fea4cb71f8">CG 2019</Parent>
    <Path>/CG2019/A09e2d8e68C</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-03-25T19:17:34</CreateDate>
    <NodeName Default="47992069768 A09e2d8e68 C" />
    <SortOrder>7</SortOrder>
    <FileHash>1031462012674861451932322231850107227186121</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4f0dxsuc/47992069768_a09e2d8e68_c.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>