<?xml version="1.0" encoding="utf-8"?>
<Media Key="1213791e-2ba2-4055-a1b4-843d8a2189da" Alias="47992087072 0B152b013c C" Level="2">
  <Info>
    <Parent Key="3b6f63e5-75c9-4cdc-ba3f-25fea4cb71f8">CG 2019</Parent>
    <Path>/CG2019/B152b013cC</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-03-25T19:17:30</CreateDate>
    <NodeName Default="47992087072 0B152b013c C" />
    <SortOrder>2</SortOrder>
    <FileHash>22917225111348289112139123169572551648148</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/db2bgevc/47992087072_0b152b013c_c.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>