<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b6f63e5-75c9-4cdc-ba3f-25fea4cb71f8" Alias="CG 2019" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CG2019</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-03-25T19:17:21</CreateDate>
    <NodeName Default="CG 2019" />
    <SortOrder>0</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>