<div ng-controller="our.umbraco.contentlist.query.editor.controller" class="contentlist-query-editor">

    <div ng-if="enableGui">
        <umb-property property="property" ng-repeat="(key, property) in properties">
            <umb-editor model="property" is-pre-value="true"></umb-editor>
        </umb-property>
    </div>
    <div ng-if="!enableGui">
        <pre style="font-family: monospace;">
 ooo 0 0 ooo  | 
------O------ | Lars-Erik was here!
        </pre>
    </div>

    <pre>{{properties | json}}</pre>
    <pre>{{model.value | json}}</pre>

</div>