@inherits UmbracoViewPage<ContentListModel>
@using Our.Umbraco.ContentList.Web

@{
    var list = Model.Items.ToList();
    var i = 0;
}

<div class="contentlist">
    @if (list.Count == 0 && UmbracoContext.IsFrontEndUmbracoRequest)
    {
        <p>No items found...</p>
    }
    @if (list.Count == 0 && !UmbracoContext.IsFrontEndUmbracoRequest)
    {
        <div class="container-fluid new-contentlist">
            <a class="color-orange">
                <i class="icon icon-settings large"></i><br />
                Query returned no results. Try configuring it some more?
            </a>
        </div>
    }

    @for (i = 0; i < list.Count; i++)
    {
        var listable = list[i];

        <div class="@Model.ColumnStyling.ColumnClasses(" col-sm-", "col-md-" , "col-lg-" ) list-item @listable.DocumentTypeAlias ">
            @Html.ContentListItem(listable)
        </div>
    }
    <div class="col-md-12">
        <nav>
            @Html.ContentListPager(Model, "pagination", "", "", "ul", "li")
        </nav>
    </div>
</div>

