.contentlist .flex {
  display: flex;
  flex-wrap: wrap;
}
.contentlist .flex .list-item {
  flex-grow: 1;
  min-width: 280px;
  position: relative;
}
.contentlist .flex .list-item .background {
  width: 100%;
}
.contentlist .flex .list-item a {
  color: #e0e0e0;
}
.contentlist .flex .list-item a:hover,
.contentlist .flex .list-item a:focus {
  color: white;
  text-decoration: none;
}
.contentlist .flex .list-item .drama-content {
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translateY(-50%);
  text-shadow: 3px 3px 3px #101010;
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 5%;
  padding-bottom: 5%;
  width: 80%;
}
.contentlist .flex .list-item .drama-content:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1) translatey(-50%);
}
.contentlist .flex .list-item:nth-child(-n+2) {
  width: 50%;
}
.contentlist .flex .list-item:nth-child(n+3) {
  width: 33%;
}