@model Our.Umbraco.ContentList.Models.ContentListPaging
@{
    var baseUrl = (string)ViewData["baseUrl"];

    var from = Math.Max(1, Model.Page - 2);
    var to = Math.Min(Model.Pages, Model.Page + 2);
    if (to - from < 5)
    {
        if (to < Model.Pages)
        { 
            to = Math.Min(Model.Pages, from + 4);
        }
        else
        {
            from = Math.Max(1, Model.Pages - 4);
        }
    }
}
<nav aria-label="Page navigation">
    <ul class="pagination">
    @for (var p = from; p <= to; p++)
    {
        if (p == Model.Page)
        {
        <li class="page-item">@p</li>
        }
        else
        {
        <li class="page-item"><a class="page-link" href="@Html.Raw(baseUrl + p)">@p</a></li>
        }
    }
    </ul>
</nav>