@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Model.Name</title>
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    @RenderBody()
</div>
</body>
</html>
